/*
COLORS
teal: #3C848D;
gold: #F1AE46;
gray: #EFEFEC;
darker-gray: #D9D9D4;
*/

/*
FONTS
font-family: 'Damion', cursive;
font-family:'Montserrat', sans-serif;
font-family: 'Roboto Flex', sans-serif;
*/

/* CSS BREAK POINTS
small devices: 600px
medium devices: 768px
large devices: 992px
extra large devices: 1200px
*/
