
#add-community-jar {
    background-color: #3C848D;
    padding: 4rem 1rem;
    text-align: center;
    line-height: 2;
    letter-spacing: 2px;
}

#add-community-jar h1 {
    font-family:'Montserrat', sans-serif;
    font-size: 2rem;
    color: #EFEFEC;
}

#add-community-jar h3 {
    margin: 2rem auto;
    font-family: 'Roboto Flex', sans-serif;
    color: #EFEFEC;
} 

.user-name {
    font-family: 'Damion', cursive;
    color: #F1AE46;
    font-size: 2.5rem;
}

.fa-circle-plus {
    font-size: 3rem;
    margin: 2.5rem auto;
    color: #F1AE46;

}

.add-jar-img {
    height: 10rem;
    width: 10rem;
    margin: 3rem auto;
    animation: pulse 3s linear infinite;
    border-radius: 30%;
    
}

@keyframes pulse {
  0% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }

  50% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
  }
  100% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }
}

.jar-options-img {
    width: 10rem;
    height: 10rem;
    border: 4px solid #FFF;
    border-radius: 100%;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    transition: width 500ms, height 500ms, margin-bottom 500ms, margin-top 500ms;
}

.jar-options-img:hover {
  width: 12.5rem;
  height: 12.5rem;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;


}

.jar-options-div {
  padding: 0 2.5rem;
}

.add-jar-img:hover {
  animation-play-state: paused;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.fa-arrow-down {
  color: #EFEFEC;
  font-size: 3.5rem;
  margin: 2.5rem auto;
}

#firstStep h2, #secondStep h2, #thirdStep h2 {
    font-family: 'Damion', cursive;
    color: #F1AE46;
    font-size: 2.5rem;
    letter-spacing: 5px;
}

#firstStep h3, #secondStep h3, #thirdStep h3  {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #D9D9D4;
}

#firstStep h4, #secondStep h4, #thirdStep h4  {
    color: #EFEFEC;
    font-size: 1.5rem;
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 5px;
    font-weight: bolder;
}

#firstStep p, #secondStep p, #secondStep span, #thirdStep p  {
    color: #EFEFEC;
    font-size: 1rem;
    margin-bottom: 2rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 200;
    line-height: 2;
}

#secondStep span {
  margin-right: 0.6rem;
  margin-left: 0.6rem;
}

#secondStep select, #secondStep input  {
  width: 4rem;
  display: inline-block;
  margin: 1.5rem auto;
}

#secondStep button, #thirdStep button {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.5rem auto;
  width: 12rem;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  color: #D9D9D4;
  background-color: inherit;
  letter-spacing: 2px;
  border: 1px solid #D9D9D4;
  font-family: 'Montserrat', sans-serif;
}

#secondStep button:hover, #thirdStep button:hover {
  color: #F1AE46;
  border: 1px solid #F1AE46;
  background-color: #2b6269;
}

#secondStep p.error {
  color: #f0c6c0;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0;
  margin: 0.1rem auto;
}

#thirdStep input {
  display: inline-block;
  width: 12.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

#thirdStep div input:first-child {
  margin-top: 1rem;
}

#thirdStep div input:last-child {
  margin-bottom: 3rem;
}

#thirdStep button.finished-btn {
  margin-top: 2.5rem;
}

#thirdStep p.max-invites {
  font-size: 0.7rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.fa-user-plus {
  margin-left: 0.8rem;
  font-size: 1.5rem;
  color: #F1AE46;
}

@media only screen and (min-width: 992px) {
  #secondStep .col-lg-6 {
    padding: 3rem 8rem;
  }

  #secondStep .col-lg-4 {
    padding: 3rem 2.5rem;
  }
}