<%- include('header') -%>

<div class="dashboard add-jar">
  <h2>Create a New CommunityJar</h2>
  <a type="button" on-click><i class="fa-solid fa-circle-plus"></i></a>
</div>
<div class="dashboard user-jars">
  <h2>My CommunityJars</h2>

</div>
<%- include('footer') -%>
