<%- include('header') -%>
<nav class="navbar navbar-expand-lg sticky-top navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CommunityJar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
      <form >
        <a href="/login"><button class="btn btn-login" type="button">Log In</button></a>
      </form>
      <form >
        <a href="/signup"><button class="btn btn-signup" type="button">Sign Up</button></a>
      </form>
    </div>
  </div>
</nav>

<div class="landing-page">
  <div class="row">
    <div class="col-lg-6 ">
      <div class="vertical-center">
        <h2 class="landing-header">Challenge Yourself</h2>
        <hr>
        <h2 class="landing-header">Plan an Experience</h2>
        <a href="/login"><button class="my-btn btn-login2" type="button" name="logIn">Log In</button></a>
        <a href="/signup"><button class="my-btn btn-signup2" type="button" name="signUp">Sign Up</button></a>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="landing-img" src="images/logo.png" alt=community-jar-logo />
    </div>
  </div>
</div>

<div id="about">
  <div class="our-mission">
    <h2>Our Mission</h2>
    <p>CommunityJar is the perfect tool for people who want to use money as an incentive to challenge themselves or for people who want to plan an experience by saving money with your friends and family.</p>
  </div>
  <div class="challenge-yourself">
    <img src="images/challenge-yourself.png" alt="challenge-yourself-img" />
    <h3>Challenge Yourself</h3>
    <p>Set a new goal and hold yourself accountable by inviting members to your CommunityJar. Set a realistic withdrawal amount, withdrawal frequency, and cash-out frequency. Failure to complete the challenge means your accountability partners receive the cash-out. Complete the challenge, and you lose nothing!</p>
  </div>
  <div class="plan-experience">
    <img src="images/plan-experience.png" alt="plan-experience-img">
    <h3>Plan an Experience</h3>
    <p>Invite members to your CommunityJar and save for an awesome trip, concert, festival, etc! Set a monetary goal, withdrawal amount, and withdrawal frequency, and watch as your funds for that experience grow!</p>
  </div>
</div>

<div id="contact">
  <h2>Have a Question?</h2>
  <form method="post" action="/">
  <div class="mb-3 row">
    <label for="fullName" class="col-sm-2 col-form-label">Name: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="fullName" placeholder="Jane Doe">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="email" class="col-sm-2 col-form-label">Email: </label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="email@example.com">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Message: </label>
    <div class="col-sm-10">
      <textarea class="form-control" aria-label="With textarea" rows="8" placeholder="Write your message here..."></textarea>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <button type="submit" name="contactButton">Send</button>
    </div>
  </div>
</form>
</div>


<%- include('footer') -%>
