<%- include('header') -%>
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CommunityJar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <form >
        <button class="btn btn-login" type="submit">Log In</button>
      </form>
      <form >
        <button class="btn btn-signup" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</nav>

<div class="landing-page">
  <div class="row">
    <div class="col-lg-6 ">
      <div class="vertical-center">
        <h2 class="landing-header">Challenge Yourself</h2>
        <hr>
        <h2 class="landing-header">Plan an Experience</h2>
        <button class="my-btn-lg btn-signup2" type="button" name="logIn">Log In</button>
        <button class="my-btn-lg btn-login2" type="button" name="signUp">Sign Up</button>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="landing-img" src="images/logo.png" alt=community-jar-logo />
    </div>
  </div>
</div>

<%- include('footer') -%>
