<%- include('header') -%>

<div class="login">
  <h2>Welcome Back!</h2>
  <p>Enter your account details below:</p>

  <form class="login-form" action="/signup" method="post">

      <input type="email" id="emailAddress" name="emailAddress" placeholder="Email Address">
      <input type="password" id="password" name="password1" placeholder="Password">
      <br />
      <button type="submit" name="LogInButton">Log In</button>

  </form>
  <p>Don't have an account yet? Sign up <a href="/signup" class="easy">here!</a></p>
</div>

<%- include('footer') -%>
