/*
COLORS
teal: #3C848D;
gold: #F1AE46;
gray: #EFEFEC;
darker-gray: #D9D9D4;
*/

/*
FONTS
font-family: 'Damion', cursive;
font-family:'Montserrat', sans-serif;
font-family: 'Roboto Flex', sans-serif;
*/

/* CSS BREAK POINTS
small devices: 600px
medium devices: 768px
large devices: 992px
extra large devices: 1200px
*/
nav {
  background-color: #EFEFEC;
}

.navbar-brand, .navbar-brand:hover {
  padding: 0;
  font-family: 'Damion', cursive;
  color: #F1AE46 !important;
  font-size: 2.5rem;
}
.navbar-toggler {
  color: #F1AE46 !important;
}

.nav-link, .btn-signup, .btn-login {
  font-size: 1.2rem;
  font-family:'Montserrat', sans-serif;
  margin: 0.2rem;
}

.nav-link {
  color: #3C848D !important;
}

.nav-link:hover {
  color: #F1AE46 !important;
}

.btn-signup {
  background-color: #FFF;
  color: #3C848D;
  border: 1px solid #3C848D;
}

.btn-login {
  background-color: inherit;
  color: #3C848D;
  border: 1px solid #3C848D;
}

.btn-signup, .btn-login {
  width: 50%;
}

.btn-signup:hover, .btn-login:hover {
  color: #F1AE46;
  border: 1px solid #F1AE46;
}

@media only screen and (min-width: 600px) {
  .navbar-brand, .navbar-brand:hover {
    font-size: 3rem;
  }

  .btn-signup, .btn-login {
    width: 12.5rem;
  }

  .nav-link, .btn-signup, .btn-login {
    font-size: 1.5rem;
    margin: 0.5rem 0.2rem;
  }
}

@media only screen and (min-width: 992px) {
  .nav-link, .btn-signup, .btn-login {
    font-size: 1.2rem;
    margin: 0.2rem;
  }

  .btn-signup, .btn-login {
    width: 8rem;
  }
}

.landing-page {
  background-color: #3C848D;
  min-height: 85vh;
  text-align: center;
  padding: 4rem 1rem 3rem;
}

.landing-header {
  font-size: 2rem;
  color: #EFEFEC;
  font-family:'Montserrat', sans-serif;
  font-style:italic;
}

hr {
  width: 30%;
  color: #EFEFEC;
  border-top: 1px solid #EFEFEC;
  text-align: center;
  margin: 1.2rem auto;
}

.landing-img {
  height: 15rem;
  width: 15rem;
  margin-top: 2.5rem;
}

.my-btn {
  font-size: 1.5rem;
  padding: 0.6rem 3rem;
  margin: 1.2rem 0.2rem 0.2rem;
  letter-spacing: 2px;
  font-family:'Montserrat', sans-serif;
  cursor: pointer;
  width: 100%;
}

.btn-signup2 {
  background-color: #FFF;
  color: #3C848D;
  border: 2px solid #3C848D;
}

.btn-login2 {
  background-color: inherit;
  color: #FFF;
  border: 2px solid #FFF;
}
.btn-login2:hover {
  border: 2px solid #F1AE46;
  color: #F1AE46;
}

.btn-signup2:hover {
  background-color: #FFF;
  border: 2px solid #F1AE46;
  color: #F1AE46;
}

@media only screen and (min-width: 600px) {

  .landing-header {
    font-size: 3rem;
    margin: 0 6rem;
  }

  hr {
    width: 15%;
    border-top: 2px solid #EFEFEC;
    margin: 1.5rem auto;
  }

  .my-btn {
    padding: 1rem 3rem;
    margin: 2rem 1rem 0.5rem;
    width: 50%;
  }

  .landing-img {
    height: 25rem;
    width: 25rem;
  }
}

@media only screen and (min-width: 992px) {

  .landing-page {
    position: relative;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .landing-header {
    font-size: 3rem;
  }

  hr {
    margin: 2.5rem auto;
  }

  .my-btn {
    border-radius: 10px;
    width: 15rem;
  }

  .landing-img {
    height: 30rem;
    width: 30rem;
    float: right;
    margin-top: 2.5rem;
  }
}

#about {
  background-color: #D9D9D4;
  padding: 5rem 2rem;
  text-align: center;
  line-height: 2;
  letter-spacing: 2px;
}

#about h2, #about h3, #about p {
  margin: 2rem auto;
}

#about h2 {
  font-family: 'Damion', cursive;
  font-size: 2.3rem;
  color: #F1AE46;
}

#about h3 {
  font-family:'Montserrat', sans-serif;
  font-size: 2rem;
  color: #3C848D;
}

#about p {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.2rem;
}

#about img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  margin: 2rem 2.5rem 1rem;
}

.our-mission {
  margin: 0;
  min-height: 40vh;
}

.challenge-yourself, .plan-experience {
  min-height: 55vh;
}

@media only screen and (min-width: 600px) {
  #about {
    padding: 5rem 6rem;
  }

  #about h2 {
    font-size: 2.8rem;
  }

  #about p {
    font-size: 1.5rem;
  }

  #about img {
    width: 15rem;
    height: 15rem;
    margin: 3rem 2.5rem 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  #about {
    padding: 5rem 8rem;
  }

  #about h2 {
    font-size: 3rem;
  }

  #about h3 {
    font-size: 2.2rem;
  }

  #about p {
    font-size: 1.5rem;
  }

  #about img {
    width: 20rem;
    height: 20rem;
    margin: 1.2rem 2.5rem 0.5rem;
  }

  .our-mission {
    margin: 0 12.5rem;
  }

  .challenge-yourself p, .plan-experience p {
    text-align: left;
  }

  .challenge-yourself img {
    float: right;
  }

  .plan-experience img {
    float: left;
  }
}

#contact {
  background-color: #3C848D;
  color: #EFEFEC;
  min-height: 40vh;
  padding: 6rem 18rem;
}

#contact h2 {
  font-family:'Montserrat', sans-serif;
  text-align: center;
  font-size: 2.8rem;
}

#contact form {
  margin: 3.5rem auto 1.5rem;
}

#contact label, button {
  font-family:'Montserrat', sans-serif;
  font-size: 1.5rem;
}

#contact button {
  background-color: inherit;
  margin: 1rem 0 0.5rem;
  padding: 0.5rem 3rem;
  color: #EFEFEC;
  border: 2px solid #EFEFEC;
  border-radius: 10px;
}

#contact button:hover {
  background-color: #EFEFEC;
  margin: 1rem 0 0.5rem;
  padding: 0.5rem 3rem;
  color: #3C848D;
  border: 2px solid #3C848D;
  border-radius: 10px;
}

footer {
  background-color: #EFEFEC;
  font-size: 1.2rem;
  font-family:'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 100;
  padding: 1.2rem 0;
}

footer p {
  margin: 0;
}
