
#about {
    background-color: #D9D9D4;
    padding: 5rem 2rem;
    text-align: center;
    line-height: 2;
    letter-spacing: 2px;
  }
  
  #about h2, #about h3, #about p {
    margin: 2rem auto;
  }
  
  #about h2 {
    font-family: 'Damion', cursive;
    font-size: 2.3rem;
    color: #F1AE46;
  }
  
  #about h3 {
    font-family:'Montserrat', sans-serif;
    font-size: 2rem;
    color: #3C848D;
  }
  
  #about p {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
  }
  
  #about img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    margin: 2rem 2.5rem 1rem;
  }
  
  .our-mission {
    margin: 0;
    min-height: 40vh;
  }
  
  .challenge-yourself, .plan-experience {
    min-height: 55vh;
  }
  
  @media only screen and (min-width: 600px) {
    #about {
      padding: 5rem 6rem;
    }
  
    #about h2 {
      font-size: 2.8rem;
    }
  
    #about p {
      font-size: 1.5rem;
    }
  
    #about img {
      width: 15rem;
      height: 15rem;
      margin: 3rem 2.5rem 1.5rem;
    }
  }
  
  @media only screen and (min-width: 992px) {
    #about {
      padding: 5rem 8rem;
    }
  
    #about h2 {
      font-size: 3rem;
    }
  
    #about h3 {
      font-size: 2.2rem;
    }
  
    #about p {
      font-size: 1.5rem;
    }
  
    #about img {
      width: 20rem;
      height: 20rem;
      margin: 1.2rem 2.5rem 0.5rem;
    }
  
    .our-mission {
      margin: 0 12.5rem;
    }
  
    .challenge-yourself p, .plan-experience p {
      text-align: left;
    }
  
    .challenge-yourself img {
      float: right;
    }
  
    .plan-experience img {
      float: left;
    }
  }